/* default */
.digit-0,
.digit-1,
.digit-2,
.digit-3,
.digit-4,
.digit-5,
.digit-6,
.digit-7,
.digit-8,
.digit-9 {
    width: 17px;
    height: 25px;
    background: url(style3.gif) no-repeat top left;
    text-indent: -999em;
    display: inline-block;
}

.digit-0 {
    background-position: 0 0;
}

.digit-1 {
    background-position: -16px 0;
}

.digit-2 {
    background-position: -30px 0;
}

.digit-3 {
    background-position: -47px 0;
}

.digit-4 {
    background-position: -64px 0;
}

.digit-5 {
    background-position: -84px 0;
}

.digit-6 {
    background-position: -100px 0;
}

.digit-7 {
    background-position: -117px 0;
}

.digit-8 {
    background-position: -134px 0;
}

.digit-9 {
    background-position: -151px 0;
}